.header-main-container {
    margin: 10px 300px 0px;
    border: 1px solid grey;
    background-color: rgb(195, 213, 213);
}

.header {
    height: 30px;
    /* margin: 0 0 10px; */
    padding: 5px 15px;
    background-color: rgb(171, 230, 230);
  }
  
  .camera-icon {
    float: right;
  }