.postview-main-container {
    margin: 0px 25% 0px;
    border: 1px solid grey;
    background-color: rgb(195, 213, 213);
  }

  .border {
    border: 1px solid rgb(18, 15, 15);
  }
  
  .padding {
    padding: .2em .4em;
  }
  
  .bolder {
    font-weight: bolder;
  }
  p {
    margin: 0;
    padding: 0;
    display:  inline;
  }


  .card {
    /* margin-bottom: 35px;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 10px; */
    margin: 2% 15% 4% 15%;
  }
  
  .dots-container {
    font-size: large;
    float: right;
    color: rgb(9, 9, 9);
  }
  
  .user-location {
    display: block;
  }
  
  
  .lighter {
    font-size: small;
    font-weight:lighter
  }
  
  .icon-date-container > .date {
    float:  right;
  }
  
  .like-icon {
    margin-right: .5em;
    /* background-color: brown; */
  }
